{# Time Tracking #}
{# Docs & License: https://github.com/goalon/time-tracking #}
{# 2022 Mateusz Bajorek #}
{# University of Warsaw, MIMUW, SOVA #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracking</title>
    <script src="{{ chartSrc }}"></script>
    <script src="{{ luxonSrc }}"></script>
    <script src="{{ chartAdapterLuxonSrc }}"></script>
    <script src="{{ fullCalendarSrc }}"></script>
    <link href="{{ fullCalendarStyleSrc }}" rel="stylesheet" />
    <link href="{{ codiconsStyleSrc }}" rel="stylesheet" />
    <link href="{{ styleSrc }}" rel="stylesheet" />
    <script src="{{ scriptSrc }}"></script>
  </head>
  <body>
    <div class="core">
      <div class="top-actions">
        <div class="view-switches">
          <button
            id="calendar-view-button"
            class="codicon codicon-calendar"
            onclick="helper.switchToCalendarView()"
          >
          </button>
          <button
            id="live-view-button"
            class="codicon codicon-graph-line"
            onclick="helper.switchToLiveView()"
          >
          </button>
        </div>
        <div class="manual-actions">
          <button
            id="save-button"
            class="codicon codicon-save"
            onclick="helper.save()"
          >
          </button>
          <button
            id="upload-button"
            class="codicon codicon-cloud-upload"
            onclick="helper.upload()"
          >
          </button>
        </div>
      </div>
      <canvas id="chart"></canvas>
      <div id="live-view" class="view-controls">
        <label for="time-span">Show last</label>
        {# todo fix #}
        <select id="time-span" required>
          <option value="600" selected>10 minutes</option>
          <option value="1800">30 minutes</option>
          <option value="3600">1 hour</option>
        </select>
      </div>
      <div id="day-view" class="view-controls">
        <label for="from-time">From:</label>
        <input id="from-time" type="time" value="00:00">
        <label for="to-time">To:</label>
        <input id="to-time" type="time" value="23:59">
        <button onclick="helper.changeTimeBoundaries()">
          Change time
          <i class="codicon codicon-check"></i>
        </button>
      </div>
      <div id="calendar-view">
        <div id="calendar"></div>
      </div>
    </div>
    <div class="metadata">
      <div class="metadata-labels">
        <label for="user-id">User id:</label>
        <label for="last-save">Last save:</label>
        <label for="last-upload">Last upload:</label>
      </div>
      <div class="metadata-values">
        <input
          id="user-id"
          value="{{ userId }}"
          disabled
        >
        <input
          type="datetime-local"
          id="last-save"
          value="{{ lastSaveTimestamp }}"
          disabled
        >
        <input
          type="datetime-local"
          id="last-upload"
          value="{{ lastUploadTimestamp }}"
          disabled
        >
      </div>
      <button
        id="refresh-metadata-button"
        class="codicon codicon-refresh"
        onclick="helper.refreshMetadata()"
      >
      </button>
    </div>
    <script>
      const helper = new TimeTrackingWebviewHelper();
    </script>
  </body>
</html>
